h2 {
    color: orange;
}

p {
    color: cadetblue;
}

.greenP{
    color: darkgreen;
}

#super {
    background-color: greenyellow;
}

section tr:hover{
    color:lightgreen;
}
section tr:nth-child(even){
    background-color:royalblue;
}

nav li a:hover{
     color:silver;
 }

nav li a[href="https://www.google.lt"]{
    color:greenyellow;
}
nav li a[href="https://www.facebook.com"]{
    color:gold;
}

nav li a[href="https://www.instagram.com"]{
    color:sienna;
}

nav li a[href="https://www.15min.lt"]{
    color:aquamarine;
}

nav li a[href="https://www.gismeteo.lt"]{
    color:rebeccapurple;
}